#hdr
{
	position: absolute;
	background-color: #FFDDDD;
	width: 100%;
	height: 110px;
	top: 0px;
	left: 0px;
}

#ftr
{
	position: absolute;
	background-color: #FFDDDD;
	width: 100%;
	padding: 5px;
	bottom: 0px;
	left: 0px;
}

.menuitem
{
	cursor: pointer;
	padding: 5px;
	background-color: #DDFFDD;
	border: 1px solid;
	border-radius: 15px;
}

#navbutton
{
	position: absolute;
	right: 5px;
	top: 75px;
	padding: 5px;
	background-color: #DDFFDD;
	border: 1px solid;
	border-radius: 15px;
}

#navigation
{
	background-color: #DDDDFF;
	border: 3px solid #606018;
	padding: 5px;
	position: fixed;
	right: 0px;
	#text-align: right;
	top: 140px;
	max-width: 200px;
	height: 400px;
	overflow:auto;
}

#contentcontainer
{
	position:absolute;
	top: 0px;
	left: 0px;
	margin-top: 110px;
	height: 80%;
	width: 100%;
}

#content
{
	position:absolute;
	left: 0px;
	background-color: #FFDDFF;
	height: 100%;
	width: 100%;
}

#page_holder
{
	position:absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0px solid #606018;
}

#navlist
{
	word-wrap:break-word;
}

.navitem
{
	color: red;
	word-wrap:break-word;
}