@font-face{ 
	font-family: 'Chunkfive';
	src: url('fonts/Chunkfive-webfont.eot');
	src: url('fonts/Chunkfive-webfont.eot?iefix') format('eot'),
	     url('fonts/Chunkfive-webfont.woff') format('woff'),
	     url('fonts/Chunkfive-webfont.ttf') format('truetype'),
	     url('fonts/Chunkfive-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'OpenSans-Light';
	src: url('fonts/OpenSans-Light-webfont.eot');
	src: url('fonts/OpenSans-Light-webfont.eot?iefix') format('eot'),
	     url('fonts/OpenSans-Light-webfont.woff') format('woff'),
	     url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	     url('fonts/OpenSans-Light-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'OpenSans-Regular';
	src: url('fonts/OpenSans-Regular-webfont.eot');
	src: url('fonts/OpenSans-Regular-webfont.eot?iefix') format('eot'),
	     url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
	     url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	     url('fonts/OpenSans-Regular-webfont.svg#webfont') format('svg');
}

* { 
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	color: rgba(5,73,88,1);
}



h2, h3 {
	font-family: 'Chunkfive', helvetica, sans-seirf;
	font-size: 1em;
		font-style: italic;

}

h1 
{
	font-family: 'Chunkfive', helvetica, sans-seirf;
	text-transform: uppercase;
	font-size: 2em;
}

body, html {
	    overflow:hidden;
}

a, a:link, a:hover, a:active, a:visited {
 font-family: "OpenSans-Regular";
	font-size: 12px;
	color: #1F5469; 
}


li, p, span {
	font-family: "OpenSans-Regular";
	font-size: 12px;
	color: #1F5469;

}

header
{
	position: fixed;
	top: -97px;
	width: 100%;
	height: 97px;
}

#main_title, #user_name, .title {
	color: #6a6a6a;
	font-style: italic;
}

#main_title .emphasise, #user_name .emphasise, .title .emphasise {
	font-style: normal;
	color: #536E79;
	font-size: 1.5em;
	margin-left: 0.3em;
}



.inline {
	display: inline;
	margin-right: 15px;
}



#header_main {
	top: 20px;
	position: relative;
	width: 90%;
	margin:auto;
}

#project_menu {
	display: inline;
	position: absolute;
	left: 1%;
	top: -5px;
}

#userMenu {
	display: inline;
	position: absolute;
	right: 1%;
	top: -5px;
}

footer 
{
	position: fixed;
	bottom: -50px;
	width: 100%;
	height:  50px;
}

header, footer {

	background: rgb(206,233,243); /* Old browsers */
	background:  -moz-linear-gradient(top, rgba(200, 200, 200, 0.3) 0%, rgba(255, 255, 255,0.6) 75%, rgba(255, 255, 255,0.9) 100%) ,url("images/hexellence.png"); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(200, 200, 200, 0.3) 0%,rgba(255, 255, 255,0.6) 75%, rgba(255, 255, 255,0.9) 100%) ,url("images/hexellence.png"); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(200, 200, 200, 0.3) 0%,rgba(255, 255, 255,0.6) 75%, rgba(255, 255, 255,0.9) 100%) ,url("images/hexellence.png"); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(200, 200, 200, 0.3) 0%,rgba(255, 255, 255,0.6) 75%, rgba(255, 255, 255,0.9) 100%) ,url("images/hexellence.png"); /* IE10+ */
	background:  linear-gradient(to bottom, rgba(200, 200, 200, 0.3) 0%,rgba(255, 255, 255,0.6) 75%, rgba(255, 255, 255,0.9) 100%) ,url("images/hexellence.png"); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee9f3', endColorstr='#cee9f3',GradientType=0 ) ,url("images/hexellence.png"); /* IE6-9 */
	
}

.menu 
{
	-moz-box-sizing:    border-box;
   	-webkit-box-sizing: border-box;
    box-sizing:        border-box;
	position: relative;
	top: -3px;
	list-style: none;
	display: inline;
}

.menu li
{
	color: #6E3C05;
	cursor: pointer;
	padding: 8px 8px;
	background-color: #FFEBD6;
	border: 1px solid #FFCA91;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin-right: 5px;
	display: inline;
}

.menu li:hover
{
	color: #6E3C05 ;
	background-color: #FFCA91;
	border: 1px solid #FFEBD6;
}

.menu  li ul {
	display: none;
	position: absolute;
	z-index: 10;
	width: 100%;

}

.menu li ul li {
	position: relative;
	top: -3px;
	 -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	display: block;
	border: none;	
	border-top: 1px dotted #FFCA91;
	border-left: 1px solid #FFCA91;
	border-right: 1px solid #FFCA91;

}

.menu li ul li:hover {
	border: none;
	border-top: 1px dotted #FFCA91;
	border-left: 1px solid #FFCA91;
	border-right: 1px solid #FFCA91;
}

.menu li ul li:nth-of-type(1) {
		border-top: 1px solid #FFCA91;

}

.menu li ul li:nth-last-of-type(1) {
		border-bottom: 1px solid #FFCA91;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;

}



#search {
	-moz-box-sizing:    border-box;
   	-webkit-box-sizing: border-box;
    box-sizing:        border-box;
    font-size: 14;
	display: block;
	position:  relative;
	top: 35px;
	margin: auto;
	display: inline;
    background: url('images/search-white.png') no-repeat 10px 8px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 1em OpenSans-Regular, Arial;
    color: #484848;
    width: 100%;
	padding: 4px 5px 3px 32px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    }





#container {
	position: fixed;
	visibility: hidden;
	width: 100%;
	left: 0;
	right: 0;
	top: 97px;
	bottom: 50px;

}

#page_holder, #sidebar
{
	position: absolute;
	overflow: auto;
	min-height: 100%;
	bottom: 0;
	top: 0;
	border:none;
}

#toolbar 
{
	-webkit-border-top-left-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
	position: absolute;
	overflow: auto;
	width: 100px;
	right: -85px;
	top: 15%;
	bottom: 15%;
	background-color: rgba(0,0,0,0.5);
}

#backbutton {
	position: absolute;
	top: 5%;
	left: 20%;
	padding: 4px 10px;
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background:  -moz-linear-gradient(top, rgba(245, 245, 245, 0.4) 0%, rgba(245,245,245, 0.5) 65%, rgba(245, 245, 245,0.4) 100%); /* FF3.6+ */
	background:  linear-gradient(to bottom, rgba(245, 245, 245, 0.4) 0%,rgba(245,245,245, 0.5) 65%, rgba(245, 245, 245,0.4) 100%); /* W3C */
	font-size: 20px;
	border: 1px rgba(0,0,0,0) solid;
	-moz-box-sizing:    border-box;
   	-webkit-box-sizing: border-box;
    box-sizing:        border-box;
    color: #3d3d3d;
}

#backbutton:hover {
    background:  -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255,255,255, 1) 65%, rgba(255, 255, 255,0.9) 100%); /* FF3.6+ */
	background:  linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%,rgba(255,255,255, 1) 65%, rgba(255, 255, 255,0.9) 100%); /* W3C */
	border: 1px #FFCA91 solid;
}

#sidebar
{
	background-image: moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 100%), moz-linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(212, 212, 212, 0) 100%) , url("images/hexellence.png");
	background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 100%), linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(212, 212, 212, 0) 100%) , url("images/hexellence.png");

	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 100%), linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(212, 212, 212, 0) 100%) , url("images/hexellence.png");
	-moz-box-sizing:    border-box;
   	-webkit-box-sizing: border-box;
    box-sizing:        border-box;
    padding: 1em;
	left: 0;
	width: 15%;
	text-align: right;
}

#sidebar h1 {
	font-size: 1.5em;
	font-family: 'OpenSans-Regular';
	font-weight: bold;
	text-transform: capitalize;
	padding: 0.1em 0em;
	
	color: #00222F;
	border-top: 1px solid #bcbcbc;
	width: 85%;
	margin: 1em auto 1em auto;
	margin-top: 0.3em;
	margin-bottom: 1em;
}


#sidebar li {
	position: relative;
	font-size: 0.9em;
	color: #00222F;
	cursor: pointer;
	padding: 3px 8px;
	list-style: none;
			border-bottom: 1px solid rgba(0,0,0,0);
			word-wrap:break-word;

}

#sidebar li:hover {
	right:-8px;
	color: #6E3C05;
	border-bottom: 1px dotted #efefef;
	border-right: 8px solid #FFCA91;
}


#sidebar #navbutton {
	position: absolute;
	top: 3px;
	right: 15%;
}

#page_holder {
	width: 85%;
	right: 0;
}

#menu2{
	position: relative;
	top:20px;
	width:40%;
	margin: auto;
}

#front_page {
	position: absolute;
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 80%, rgba(255,255,255,1) 100%), url("images/hexellence.png"), #fff; /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,1))), url("images/hexellence.png"), #fff;  /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,1) 100%), url("images/hexellence.png"), #fff; /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,1) 100%), url("images/hexellence.png"), #fff; /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,1) 100%), url("images/hexellence.png"), #fff; /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,1) 100%), url("images/hexellence.png"), #fff; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-position: 0px -30%, 0px -30%, 0px 0px;
	width: 100%;
	min-height: 100%;
	top: 0;
}

#login_box {
	-moz-box-sizing:    border-box;
   	-webkit-box-sizing: border-box;
    box-sizing:        border-box;
	text-align: center;
	position: relative;
	width: 500px;
	margin: 15% auto 0% auto;
	min-height: 250px;
	padding: 1em;
	-webkit-box-shadow:inset 0px 0px 10px 3px rgba(0,0,0,0.4);
	box-shadow:inset 0px 0px 10px 3px rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.1);
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#login_box h2 {
	font-size: 2em;
}

#login_button
{
	font-family: 'OpenSans-Regular';
	font-size: 1.5em;
	color: #6E3C05;
	cursor: pointer;
	padding: 0.5em 1em;
	width: 300px;
	margin: 1em auto;
	background-color: #FFEBD6;
	border: 1px solid #FFCA91;
	border-radius: 5px;
}

#login_button:hover
{
	color: #6E3C05 ;
	background-color: #FFCA91;
	border: 1px solid #FFEBD6;
}

#please_login {
	font-family: 'Chunkfive';
	text-transform: lowercase;
	font-size: 1.2em;
	margin-top: 1em;
	color: #616161;
}


